.card__story {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.card__story-item {
  position: relative;
  cursor: pointer;
}

.card__story-followers {
  position: absolute;
  bottom: 10px;
  left: 9px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  font-size: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  z-index: 1;
}

.overlay-text {
  font-size: 12px;
}
