@use 'assets/styles/media';

.project {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
  margin-bottom: var(--gap-xxl);

  &__img {
    border-radius: 10px;
    background-color: var(--gray);
    padding: var(--gap-xl);

    & img {
      transition: transform var(--duration) linear;
    }
  }

  &:hover img {
    transform: scale(1.1);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gap-s);
  }

  &__footer {
    display: flex;
    gap: var(--gap-s);
  }

  &__item {
    padding: 7px;
    border-radius: 3px;
    background-color: var(--gray);
    color: rgb(0 0 0 / 50%);
    font-size: var(--font-size-s);
    font-weight: var(--weight-regular);
    text-decoration: none;
    transition: color var(--duration) ease;
  }

  &__item:hover {
    color: var(--black);
  }

  &__name {
    color: var(--black);
    font-size: var(--font-size-s);
    font-weight: var(--weight-medium);
    text-decoration: none;
  }
}

@include media.media-breakpoint-down(l) {
  .projects__img img {
    width: 100%;
  }
}

@include media.media-breakpoint-down(sm) {
  .projects__name {
    font-size: 8px;
  }
}
