@use 'assets/styles/media';

.projects {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
  margin-bottom: var(--gap-xxl);
}

.projects__img {
  border-radius: 10px;
  background-color: var(--gray);
}

@include media.media-breakpoint-down(l) {
  .projects__img img {
    width: 100%;
  }
}

.projects__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects__link {
  display: flex;
  gap: var(--gap-s);
}

.projects__lead,
.projects__dev {
  padding: 7px;
  border-radius: 3px;
  background-color: var(--gray);
  color: rgb(0 0 0 / 50%);
  font-size: var(--font-size-s);
  font-weight: var(--weight-regular);
  text-decoration: none;
  transition: color var(--duration) ease;
}

.projects__lead:hover,
.projects__dev:hover {
  color: var(--black);
}

.projects__name {
  color: var(--black);
  font-size: var(--font-size-s);
  font-weight: var(--weight-medium);
  text-decoration: none;
}

@include media.media-breakpoint-down(sm) {
  .projects__name {
    font-size: 8px;
  }
}
