@use 'assets/styles/media';

.project {
  text-decoration: none;
  max-width: 67rem;
  max-height: 46rem;

  $root: &;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__wrapper-image {
    padding: var(--gap-xxl);
    border-radius: 1rem;
    background-color: var(--gray);
    overflow: hidden;
  }

  &__image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform linear var(--duration);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gap-s);
    text-decoration: none;
  }

  &__title {
    color: var(--black);
    font-size: var(--font-size-s);
    font-weight: var(--weight-medium);
    text-decoration: none;
  }

  &__professions {
    display: flex;
    gap: var(--gap-s);
  }

  &__profession {
    font-size: var(--font-size-s);
    font-weight: var(--weight-regular);
    text-decoration: none;
    transition: color var(--duration) ease;
    background-color: var(--gray);
    color: rgb(0 0 0 / 50%);
    padding: 0.7rem;
    border-radius: 0.3rem;

    &:hover {
      color: var(--black);
    }
  }

  &:hover {
    #{$root}__image {
      transform: scale(1.07);
    }
  }
}

@include media.media-breakpoint-down(sm) {
  .project__title {
    font-size: 0.8rem;
  }
}
