:root {
  --black: #000000;
  --gray: #f8f8f8;
  --light-gray: #f3f3f3;
  --dark-gray: rgba(0, 0, 0, 0.4);
  --blue: #3e59dd;

  --font-size-m: 1.4rem;
  --font-size-s: 1.2rem;
  --font-size-xs: 1rem;

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBld: 600;

  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gap-l: 2rem;
  --gap-xl: 3rem;
  --gap-xxl: 4rem;

  --tablet: 1024px;
  --mobile: 360px;

  --duration: 0.2s;
}
