@use 'assets/styles/media';

.shared-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  //min-width: calc(100vw - 250px);
  max-width: 67rem;
  padding: var(--gap-l);
  margin: 0 auto;
}

@include media.media-breakpoint-down(l) {
  .shared-container {
    padding: var(--gap-l);
    align-items: flex-start;
  }
}
