.card__story {
  display: flex;
  gap: var(--gap-xxl);
}

.card__story-item {
  position: relative;
  cursor: pointer;
}

.card__story-block__img {
  overflow: hidden;
  width: 123px;
  height: 185px;
  border-radius: 10px;
}

.card__story-img {
  transition: transform linear calc(var(--duration) / 1);
}

.card__story-item:hover .card__story-img {
  transform: scale(1.05);
}

.card__story-followers {
  position: absolute;
  bottom: 10px;
  left: 9px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  font-size: var(--font-size-s);
  transition: opacity 0.3s ease;
}

.card__story-item:hover .card__story-followers {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  z-index: 1;
}

.overlay-text {
  font-size: 12px;
}
