@use 'assets/styles/media';

.shared-sidebar {
  position: fixed;

  border-right: 1px solid var(--light-gray);
  padding: var(--gap-xxl);

  &__inner {
    display: flex;
    height: 100%;
    min-height: calc(100vh - 8rem);
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-bottom: var(--gap-m);
  }

  &__footer {
    margin-top: auto;
  }

  &__title {
    margin-bottom: var(--gap-s);
  }

  &__text {
    margin-bottom: var(--gap-xxl);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:deep(svg) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  &__btn-main {
    text-decoration: none;
  }
}

.ogrn {
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-xxl);
}

@include media.media-breakpoint-down(xl) {
  .shared-sidebar {
    padding: var(--gap-l);
  }
}

@include media.media-breakpoint-down(l) {
  .shared-sidebar {
    position: relative;
    border-right: none;
    width: 100%;

    display: flex;
    justify-content: center;

    .shared-sidebar__footer {
      align-self: flex-end;
    }
    .shared-sidebar__inner {
      flex-direction: row;
      min-height: auto;
      max-width: 30rem;
      align-items: center;
    }
  }
}
