@use 'assets/styles/media';

.shared-sidebar {
  padding: var(--gap-xxl);
  border-right: 1px solid var(--light-gray);
  height: 100%;

  &__inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footer {
    margin-top: auto;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: var(--gap-m);
  }

  &__title {
    margin-bottom: var(--gap-s);
  }

  &__text {
    margin-bottom: var(--gap-xxl);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;

    &:deep(svg) {
      width: 8px;
      height: 8px;
    }
  }
}

.ogrn {
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-xxl);
}

@include media.media-breakpoint-down(l) {
  .shared-sidebar {
    position: relative;
    border-right: none;
    padding: var(--gap-l);
    width: 100%;

    &__footer &:last-child {
      display: none;
    }

    &__footer {
      align-self: flex-end;
    }
    &__inner {
      flex-direction: row;
      min-height: auto;
      width: 300px;
      align-items: center;
    }
  }
}
