@use 'assets/styles/media';

.shared-sidebar {
  padding: var(--gap-xxl);
  border-right: 1px solid var(--light-gray);
}

.shared-sidebar__inner {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 80px);
  flex-direction: column;
  justify-content: space-between;
}

.shared-sidebar__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: var(--gap-m);
}

.shared-sidebar__title {
  margin-bottom: var(--gap-s);
}

.shared-sidebar__text {
  margin-bottom: var(--gap-xxl);
}

.shared-sidebar__links {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.shared-sidebar__link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shared-sidebar__link:deep(svg) {
  width: 8px;
  height: 8px;
}

.ogrn {
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-xxl);
}

@include media.media-breakpoint-down(l) {
  .shared-sidebar {
    position: relative;
    border-right: none;
    padding: var(--gap-l);
    width: 100%;
  }
  .shared-sidebar__footer .shared-text:last-child {
    display: none;
  }

  .shared-sidebar__footer {
    align-self: flex-end;
  }
  .shared-sidebar__inner {
    flex-direction: row;
    min-height: auto;
    width: 300px;
    align-items: center;
  }
}
