@use 'assets/styles/media';

.shared-announcement {
  position: relative;
  width: 32.5rem;
  height: 30rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: var(--gray);
  overflow: hidden;

  @include media.media-breakpoint-down(md) {
    height: auto;
  }

  &__block-image {
    overflow: hidden;
    padding-top: var(--gap-xl);
    padding-right: var(--gap-xl);
    padding-left: var(--gap-xl);

    @include media.media-breakpoint-down(md) {
      padding-top: var(--gap-l);
      padding-right: var(--gap-xl);
      padding-left: var(--gap-xl);
    }
  }

  &__image {
    height: calc(16rem - var(--gap-xl));
    border-top: 0.4rem solid var(--black);
    border-right: 0.4rem solid var(--black);
    border-left: 0.4rem solid var(--black);
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: transform linear calc(var(--duration) / 1);
    overflow: hidden;
  }

  &__image img {
    min-width: 23.7rem;
    width: 100%;
  }

  .picture {
    width: calc(32.5rem - 6rem);
    height: 13rem;

    @include media.media-breakpoint-down(md) {
      width: 100%;
      // max-width: 32.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: var(--gap-xxl);
    gap: var(--gap-l);

    @include media.media-breakpoint-down(md) {
      padding: var(--gap-l);
      gap: var(--gap-s);
    }
  }

  &__title {
    transition: color linear calc(var(--duration));
  }

  &:hover &__title {
    color: var(--blue);
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  @include media.media-breakpoint-down(md) {
    width: 100%;
    // max-width: 32.5rem;
  }
}
