@use 'assets/styles/media';

.shared-announcement {
  position: relative;
  width: 32.5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: var(--gray);
  overflow: hidden;

  &__block-image {
    overflow: hidden;
    padding-top: var(--gap-xl);
    padding-right: var(--gap-xl);
    padding-left: var(--gap-xl);
  }

  &__image {
    height: calc(160px - var(--gap-xl));
    border-top: 4px solid var(--black);
    border-right: 4px solid var(--black);
    border-left: 4px solid var(--black);
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform linear calc(var(--duration) / 1);
    overflow: hidden;
  }

  &__image img {
    min-width: 237px;
    width: 100%;
  }

  .picture {
    width: calc(325px - 60px);
    height: 130px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: var(--gap-xxl);
    gap: var(--gap-l);
  }

  &__title {
    transition: color linear calc(var(--duration));
  }

  &:hover &__title {
    color: var(--blue);
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  @include media.media-breakpoint-down(md) {
    width: 100%;
    // max-width: 32.5rem;
  }
}
