@use 'assets/styles/media';

.stories {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);

  &__list {
    display: flex;
    gap: var(--gap-m);
    width: max-content;

    //transition: transform 0.3s linear;
  }
}

//.skeleton {
//  width: 670px;
//  display: flex;
//  gap: var(--gap-m);
//
//  &__slide {
//    width: 123px;
//    height: 185px;
//    background: gray;
//
//  }
//}
